# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [4]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [16]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column

### Compare June and December data across all years

In [39]:
from scipy import stats

In [32]:
# Filter data for desired months
df['month'] = pd.DatetimeIndex(df['date']).month
df['year'] = pd.DatetimeIndex(df['date']).year

june_december_df = df.loc[(df['month'] == 6) | (df['month'] == 12)]

june_december_df

           station       date  prcp  tobs  month  year
133    USC00519397 2010-06-01  0.00    78      6  2010
134    USC00519397 2010-06-02  0.01    76      6  2010
135    USC00519397 2010-06-03  0.00    78      6  2010
136    USC00519397 2010-06-04  0.00    76      6  2010
137    USC00519397 2010-06-05  0.00    77      6  2010
...            ...        ...   ...   ...    ...   ...
19492  USC00516128 2017-06-26  0.02    79      6  2017
19493  USC00516128 2017-06-27  0.10    74      6  2017
19494  USC00516128 2017-06-28  0.02    74      6  2017
19495  USC00516128 2017-06-29  0.04    76      6  2017
19496  USC00516128 2017-06-30  0.20    75      6  2017

[3217 rows x 6 columns]

In [36]:
# Identify the average temperature for June
june_df = df.loc[df['month'] == 6]

avg_june_temp = june_df['tobs'].mean()

print(f'The average temperature in June was {round(avg_june_temp,2)} degrees.')

The average temperature in June was 74.94 degrees.

In [37]:
# Identify the average temperature for December
december_df = df.loc[df['month'] == 12]

avg_december_temp = december_df['tobs'].mean()

print(f'The average temperature in December was {round(avg_december_temp,2)} degrees.')

The average temperature in December was 71.04 degrees.

In [ ]:
# Create collections of temperature data

In [41]:
# Run paired t-test
stats.ttest_ind(june_df['tobs'],december_df['tobs'])

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis